@model List<MessageWithReceiverInfoViewModel>

@{
    ViewData["Title"] = "Draft";
    Layout = "~/Views/UserLayout/Index.cshtml";
}

<div class="inbox-area">
    <div class="container">
        <div class="row">

            @await Component.InvokeAsync("_MessageSidebar")

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="inbox-text-list sm-res-mg-t-30">
                    <form method="get" class="form-group">
                        <div class="nk-int-st search-input search-overt">
                            <input type="text" class="form-control" name="query" value="@Context.Request.Query["query"]" placeholder="Taslaklarda ara..." />
                            <button class="btn search-ib" type="submit">Ara</button>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-hover table-inbox">
                            <tr>
                                <th>#</th>
                                <th>Alıcı</th>
                                <th>Konu</th>
                                <th>Kategori</th>
                                <th>Oluşturma Tarihi</th>
                            </tr>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class=""><label><input type="checkbox" class="i-checks"></label></td>
                                        <th>@item.ReceiverName @item.ReceiverSurname </th>
                                        <td>@item.Subject </td>
                                        @{
                                            var labelClass = item.CategoryName switch
                                            {
                                                "Eğitim" => "label-warning",
                                                "Kampanyalar" => "label-info",
                                                "Sosyal" => "label-success",
                                                "Finans" => "label-primary",
                                                _ => "label-default"
                                            };
                                        }
                                        <td><span class="label @labelClass"> @item.CategoryName </span> </td>
                                        <td class="text-right mail-date">@item.SendDate.ToString("dd MMMM yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>