@using NotikaIdentityEmail.Entities
@using Ganss.Xss
@model Message
@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Views/UserLayout/Index.cshtml";
}
@{
    var timeDiff = DateTime.Now - Model.SendDate;
    string timeAgoText;

    if (timeDiff.TotalMinutes < 1)
    {
        timeAgoText = "Şimdi";
    }
    else if (timeDiff.TotalMinutes < 60)
    {
        timeAgoText = $"{(int)timeDiff.TotalMinutes} dakika önce";
    }
    else if (timeDiff.TotalHours < 24)
    {
        timeAgoText = $"{(int)timeDiff.TotalHours} saat önce";
    }
    else if (timeDiff.TotalDays < 7)
    {
        timeAgoText = $"{(int)timeDiff.TotalDays} gün önce";
    }
    else
    {
        timeAgoText = Model.SendDate.ToString("dd MMMM yyyy");
    }
}

<div class="inbox-area">
    <div class="container">
        <div class="row">

            @await Component.InvokeAsync("_MessageSidebar")

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="view-mail-list sm-res-mg-t-30">
                    <div class="view-mail-hd">
                        <div class="view-mail-hrd">
                            <h2>Mesaj Detayları</h2>
                        </div>
                        <div class="view-ml-rl">
                            <p>@Model.SendDate.ToString("HH:mm") (<span style="color:#6c757d">@timeAgoText</span>)</p>
                        </div>
                    </div>
                    <div class="mail-ads mail-vw-ph">
                        <p class="first-ph"><b>Konu: </b>@Model.Subject</p>
                        <p><b>Gönderici:</b> <a href="#">@Model.SenderEmail</a></p>
                        <p class="last-ph"><b>Tarih:</b> @Model.SendDate.ToString("dd MMMM yyyy")</p>
                    </div>
                    <div class="view-mail-atn">
                        @{
                            var sanitizer = new HtmlSanitizer();

                            // İzin verilen tagler
                            sanitizer.AllowedTags.Clear();
                            sanitizer.AllowedTags.Add("p");
                            sanitizer.AllowedTags.Add("br");
                            sanitizer.AllowedTags.Add("strong");
                            sanitizer.AllowedTags.Add("b");
                            sanitizer.AllowedTags.Add("em");
                            sanitizer.AllowedTags.Add("i");
                            sanitizer.AllowedTags.Add("ul");
                            sanitizer.AllowedTags.Add("ol");
                            sanitizer.AllowedTags.Add("li");
                            sanitizer.AllowedTags.Add("blockquote");
                            sanitizer.AllowedTags.Add("h1");
                            sanitizer.AllowedTags.Add("h2");
                            sanitizer.AllowedTags.Add("h3");
                            sanitizer.AllowedTags.Add("h4");
                            sanitizer.AllowedTags.Add("h5");
                            sanitizer.AllowedTags.Add("h6");
                            sanitizer.AllowedTags.Add("span");

                            // Attribute whitelist
                            sanitizer.AllowedAttributes.Clear();
                            sanitizer.AllowedAttributes.Add("href");
                            sanitizer.AllowedAttributes.Add("title");
                            sanitizer.AllowedAttributes.Add("style");

                            // CSS whitelist
                            sanitizer.AllowedCssProperties.Clear();
                            sanitizer.AllowedCssProperties.Add("color");
                            sanitizer.AllowedCssProperties.Add("background-color");
                            sanitizer.AllowedCssProperties.Add("font-weight");
                            sanitizer.AllowedCssProperties.Add("font-size");
                            sanitizer.AllowedCssProperties.Add("text-decoration");
                            // URL scheme whitelist
                            sanitizer.AllowedSchemes.Clear();
                            sanitizer.AllowedSchemes.Add("http");
                            sanitizer.AllowedSchemes.Add("https");
                            sanitizer.AllowedSchemes.Add("mailto");

                            var safeHtml = sanitizer.Sanitize(Model.MessageDetail);
                        }
                        @Html.Raw(safeHtml)

                        @Html.Raw(safeHtml)
                    </div>

                    <div class="vw-ml-action-ls text-right mg-t-20">
                        <div class="btn-group ib-btn-gp active-hook nk-email-inbox">
                            <a class="btn btn-default btn-sm waves-effect" href="/Message/Reply/@Model.MessageId"><i class="notika-icon notika-next"></i> Yanıtla</a>
                            <a class="btn btn-default btn-sm waves-effect" href="/Message/Forward/@Model.MessageId"><i class="notika-icon notika-right-arrow"></i> Yönlendir</a>
                            <a class="btn btn-default btn-sm waves-effect" href="/Message/MoveToTrash/@Model.MessageId?returnAction=Inbox"><i class="notika-icon notika-trash"></i> Sil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>