@model List<MessageTrashViewModel>

@{
    ViewData["Title"] = "Trash";
    Layout = "~/Views/UserLayout/Index.cshtml";
}

<div class="inbox-area">
    <div class="container">
        <div class="row">

            @await Component.InvokeAsync("_MessageSidebar")

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="inbox-text-list sm-res-mg-t-30">
                    <form method="get" class="form-group">
                        <div class="nk-int-st search-input search-overt">
                            <input type="text" class="form-control" name="query" value="@Context.Request.Query["query"]" placeholder="Silinenlerde ara..." />
                            <button class="btn search-ib" type="submit">Ara</button>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-hover table-inbox">
                            <tr>
                                <th>#</th>
                                <th>Gönderici</th>
                                <th>Alıcı</th>
                                <th>Konu</th>
                                <th>Kategori</th>
                                <th>Tarih</th>
                            </tr>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class=""><label><input type="checkbox" class="i-checks"></label></td>
                                        <th>@item.SenderEmail</th>
                                        <th>@item.ReceiverEmail</th>
                                        <td>@item.Subject</td>
                                        @{
                                            if (item.CategoryName == "Eğitim")
                                            {
                                                <td><span class="label label-warning"> @item.CategoryName </span> </td>
                                            }
                                            if (item.CategoryName == "Kampanyalar")
                                            {
                                                <td><span class="label label-info"> @item.CategoryName </span> </td>
                                            }
                                            if (item.CategoryName == "Sosyal")
                                            {
                                                <td><span class="label label-success"> @item.CategoryName </span> </td>
                                            }
                                            if (item.CategoryName == "Finans")
                                            {
                                                <td><span class="label label-primary"> @item.CategoryName </span> </td>
                                            }
                                        }
                                        <td class="text-right mail-date">@item.SendDate.ToString("dd MMMM yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>